.styled-text-area{
    -fx-font-family: Monaco;
    -fx-font-size: 15px;
    -fx-display-caret:true;
    -fx-text-fill: #000000;
}

.styled-text-area .content {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 1em;
}

.wrong-words {
    -fx-fill: red;
    -fx-underline: true;
}

.list-cell {
    -fx-font-size: 15px;
}

.menu .label{
    -fx-font-size: 15px;
}

.tab .tab-label {
    -fx-font-size: 15px;
}

.list-view .list-cell {
    -fx-font-size: 15px;
}