.text-area{
    -fx-font-family: Monaco;
    -fx-font-size: 15px;
    -fx-display-caret:true;
    -fx-text-fill: #000000;
}

.text-area .content {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 1em;
}